<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>All Blog Posts</h1>

    <ul>
        <% posts.forEach(post => { %>
            <li>
                <img src="<%= post.image %>" alt="Post Image" width="150">
                <a href="/post?id=<%= post.id %>"><%= post.title %></a>
            </li>
        <% }) %>
    </ul>
    
    <a href="/add-post">Add New Post</a>
</body>
</html>
